<a href="https://colab.research.google.com/github/CovarLawrence/OOP-58003/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print (10+5)
print (10-5)
print (10*5)
print (10/5)
print (10/3)
print (10//3)
print (10%3)

15
5
50
2.0
3.3333333333333335
3
1

Python Bitwise Operators

In [ ]:
a = 60 
b = 13

print (a & b)
print ( a | b)
print (a << 1)
print (a >> 1)

12
61
120
30

Assignment Operator

In [ ]:
x = 6 
x+= 3 
print(x)

9

Logical Operator

In [ ]:
t = True
s = False 

print(t and s)
print(t or s)
print(not (t or s))

False
True
False

Identity Operator

In [ ]:
#is is not
t = True
s = False

print(t is t)
print(t is s)
print(t is not s)

True
False
True

Application 1 create a a standard calculator (MDAS)

In [ ]:
Num = input("Enter any integer 1-10 ")
Num1 = input()
print("answer is: " , Num + Num1 )

Enter any integer 1-10 1
2
answer is:  12

In [ ]:
Num1 = int(input('Enter First Number: '))
Num2 = int(input('Enter Second Number: '))
Op = input('Choose 1 operation + - * /',)

if Op == '+':
  print("Answer is: ",Num1 + Num2)
elif Op == '-':
  print("Answer is: ",Num1 - Num2)
elif Op == '*':
  print("Answer is: ",Num1 * Num2)
elif Op == '/':
  print("Answer is: ",Num1 / Num2)
else:
  print('Enter a valid operator, try again')

Enter First Number: 200
Enter Second Number: 300
Choose 1 operation + - * /+
Answer is:  500