<a href="https://colab.research.google.com/github/CovarLawrence/OOP-58003/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
#This is a comment
print("Hello World")

Hello World

In [ ]:
x = 1 
a, b=0, -1
a, b, c=0,-1,2

In [ ]:
b="Sally" #This is a type of string
b=int(4)
print(b)

4

In [ ]:
b=float(4)
print(b)

4.0

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
y="John"
y='John'

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [ ]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [ ]:
x = "enjoying"
print("Pyhton programming is " + x)

Pyhton programming is enjoying

In [ ]:
x = "Python is "
y = "Enjoying"
z = x+y
print(z)

Python is Enjoying

In [ ]:
x = 5
y = 3
print (x+y)

8

In [ ]:
x = 5 
y = 3
sum= x+y
sum

8

In [ ]:
a,b,c=0,-1,6
c%=3
c

0

In [ ]:
a,b,c=0,-1,6
a>b and c>b

True

In [ ]:
a,b,c= 0,-1,5
a is c

False